<div class="col-sm-4 col-xs-12">
  <div class="productBox">
    <div class="productImage clearfix">
      <%= image_tag(product.display_image.attachment(:product)) %>
    </div>
    <div class="productCaption clearfix">
      <a href=<%= potepan_product_path(product.id) %>>
        <h5><%= product.name %></h5>
      </a>
      <h3><%= product.display_price %></h3>
    </div>
  </div>
</div>
