<div class="row productsContent">
  <div class="col-xs-12">
    <div class="page-header">
      <h4>関連商品</h4>
    </div>
  </div>
  <% related_products.each do |related_product| %>
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="productBox">
        <div class="productImage clearfix">
          <%= image_tag related_product.display_image.attachment(:product) %>
        </div>
        <div class="productCaption clearfix">
          <h5><%= link_to related_product.name, potepan_product_path(related_product.id) %></h5>
          <h3><%= related_product.display_price %></h3>
        </div>
      </div>
    </div>
  <% end %>
</div>